/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


@media screen and (max-width: 360px) {
  body {
    font-size: 90%!important;
  }
  
}

body {
  font-family: 'Schoolbell', cursive;
  background-color: #0f0f0f;
  color: #ffffff;
  font-size: 150%;
  counter-reset: section;
}

#title {
  
  color : rgb(234, 194, 13);
}

p {

margin: 20px;
}
.res {
  border: solid white 5px;
  margin: 40px;
  border-radius: 2px;
  text-align: left;
}
.res:hover {
  background-color: rgba(39, 38, 38, 0.685);
}
#done a {
  color: #ffffff;
  
}

#done a:hover {
  color: #308c92;
}
.center {
  margin-top: 50px;
  text-align: center;
}


/* font-family: 'Old Standard TT',
serif;
font-family: 'Coming Soon',
cursive;
font-family: 'Crafty Girls',
cursive;
font-family: 'Schoolbell',
cursive; */

.button {
  border: 2px solid greenyellow;
  
  border-radius: 10px;  
  margin: 20px;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  background-color: rgb(234, 194, 13);
  
  cursor: pointer;
  vertical-align: middle;
  
}

.button:hover {
  background-color: rgba(16, 48, 176, 0.297);
  color: white;
}

.button:active {
  background-color: #f80404;
  box-shadow: 0 5px rgb(233, 238, 238);
  transform: translateY(4px);
}

input {
  border: 2px solid rgb(14, 160, 104);
  font-family: 'Schoolbell',
  cursive;
  border-radius: 10px;
  margin: 20px;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  background-color: #ffffff;
  font-size: 100%;
  box-shadow: 0 6px 20px 0 rgba(38, 16, 185, 0.358);  
  vertical-align: middle;
}

.form-group {
  font-family: 'Schoolbell',
  cursive;
}
label {
  margin: 20px;
}
input:invalid:hover {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid rgb(14, 160, 104);
}
#st:focus {
  background-color: lightgray;
  
}

p::before {
  counter-increment: section;
  content: counter(section) ". ";

}